<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<!-- redis 相关配置 单redis和哨兵模式公用 -->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="150" />
		<property name="maxIdle" value="10" />
		<property name="maxWaitMillis" value="2000" />
		<property name="testOnBorrow" value="true" />
	</bean>
	<!-- 单redis和哨兵模式只能存在其一 -->
	<!-- 111111111111111第一种配置方式 -->
	<!-- 原始的，单redis配置 开始 -->
	<bean id="JedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" 
		p:host-name="127.0.0.1" p:port="6379" p:password="" p:pool-config-ref="poolConfig"/>
	<!-- 单redis配置结束 -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="JedisConnectionFactory" />
	</bean>
	<!-- 一下是是使用注解的方式时的配置，本项目没有用到注解的方式 -->
	<!-- spring自己的缓存管理器，这里定义了缓存位置名称 ，即注解中的value -->
	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
		<property name="caches">
			<set>
				<!-- 这里可以配置多个redis -->
				<!-- <bean class="com.cn.util.RedisCache"> <property name="redisTemplate" 
					ref="redisTemplate" /> <property name="name" value="default"/> </bean> -->
				<bean  class="com.eroly.util.cacheUpdate.RedisCache">
					<property name="redisTemplate" ref="redisTemplate" />
					<property name="name" value="common" />
					<!-- common名称要在类或方法的注解中使用 -->
				</bean>
			</set>
		</property>
	</bean>
	<bean id="redisCache" class="com.eroly.util.cacheUpdate.RedisCache">
		<property name="redisTemplate" ref="redisTemplate" />
		<property name="name" value="common" />
		<!-- common名称要在类或方法的注解中使用 -->
	</bean>
	<!-- 启用缓存注解功能，这个是必须的，否则注解不会生效，另外，该注解一定要声明在spring主配置文件中才会生效 -->
	<cache:annotation-driven cache-manager="cacheManager" />
	<!-- 111111111111111第一种配置方式 -->

	<!-- 2222222222222222第2种配置方式 -->
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0">
			<ref bean="poolConfig"/>
		</constructor-arg>
		<constructor-arg index="1" value="127.0.0.1" type="java.lang.String"/>
		<constructor-arg index="2" value="6379" type="int"/>
	</bean>
	<bean id="jedisClient" class="com.eroly.util.cacheUpdate.SingleJedisClient">
		<property name="jedisPool" ref="jedisPool" />
	</bean>
	<bean id="jedisTool" class="com.eroly.util.cacheUpdate.JedisTool">
		<property name="jedisClient" ref="jedisClient" />
	</bean>
	<!-- 2222222222222222第2种配置方式 -->
</beans>  