<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eroly.mapper.GraduationMapper" >
  <resultMap id="BaseResultMap" type="com.eroly.domain.Graduation" >
    <id column="graduation_id" property="graduationId" jdbcType="INTEGER" />
    <result column="graduation_user" property="graduationUser" jdbcType="INTEGER" />
    <result column="graduation_datetime" property="graduationDatetime" jdbcType="TIMESTAMP" />
    <result column="graduation_job" property="graduationJob" jdbcType="VARCHAR" />
    <result column="graduation_place" property="graduationPlace" jdbcType="VARCHAR" />
    <result column="graduation_salary" property="graduationSalary" jdbcType="DECIMAL" />
    <result column="graduation_jobtime" property="graduationJobtime" jdbcType="TIMESTAMP" />
    <result column="graduation_status" property="graduationStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    graduation_id, graduation_user, graduation_datetime, graduation_job, graduation_place, 
    graduation_salary, graduation_jobtime, graduation_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from graduation
    where graduation_id = #{graduationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from graduation
    where graduation_id = #{graduationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eroly.domain.Graduation" >
    insert into graduation (graduation_id, graduation_user, graduation_datetime, 
      graduation_job, graduation_place, graduation_salary, 
      graduation_jobtime, graduation_status)
    values (#{graduationId,jdbcType=INTEGER}, #{graduationUser,jdbcType=INTEGER}, #{graduationDatetime,jdbcType=TIMESTAMP}, 
      #{graduationJob,jdbcType=VARCHAR}, #{graduationPlace,jdbcType=VARCHAR}, #{graduationSalary,jdbcType=DECIMAL}, 
      #{graduationJobtime,jdbcType=TIMESTAMP}, #{graduationStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eroly.domain.Graduation" >
    insert into graduation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="graduationId != null" >
        graduation_id,
      </if>
      <if test="graduationUser != null" >
        graduation_user,
      </if>
      <if test="graduationDatetime != null" >
        graduation_datetime,
      </if>
      <if test="graduationJob != null" >
        graduation_job,
      </if>
      <if test="graduationPlace != null" >
        graduation_place,
      </if>
      <if test="graduationSalary != null" >
        graduation_salary,
      </if>
      <if test="graduationJobtime != null" >
        graduation_jobtime,
      </if>
      <if test="graduationStatus != null" >
        graduation_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="graduationId != null" >
        #{graduationId,jdbcType=INTEGER},
      </if>
      <if test="graduationUser != null" >
        #{graduationUser,jdbcType=INTEGER},
      </if>
      <if test="graduationDatetime != null" >
        #{graduationDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="graduationJob != null" >
        #{graduationJob,jdbcType=VARCHAR},
      </if>
      <if test="graduationPlace != null" >
        #{graduationPlace,jdbcType=VARCHAR},
      </if>
      <if test="graduationSalary != null" >
        #{graduationSalary,jdbcType=DECIMAL},
      </if>
      <if test="graduationJobtime != null" >
        #{graduationJobtime,jdbcType=TIMESTAMP},
      </if>
      <if test="graduationStatus != null" >
        #{graduationStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eroly.domain.Graduation" >
    update graduation
    <set >
      <if test="graduationUser != null" >
        graduation_user = #{graduationUser,jdbcType=INTEGER},
      </if>
      <if test="graduationDatetime != null" >
        graduation_datetime = #{graduationDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="graduationJob != null" >
        graduation_job = #{graduationJob,jdbcType=VARCHAR},
      </if>
      <if test="graduationPlace != null" >
        graduation_place = #{graduationPlace,jdbcType=VARCHAR},
      </if>
      <if test="graduationSalary != null" >
        graduation_salary = #{graduationSalary,jdbcType=DECIMAL},
      </if>
      <if test="graduationJobtime != null" >
        graduation_jobtime = #{graduationJobtime,jdbcType=TIMESTAMP},
      </if>
      <if test="graduationStatus != null" >
        graduation_status = #{graduationStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where graduation_id = #{graduationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eroly.domain.Graduation" >
    update graduation
    set graduation_user = #{graduationUser,jdbcType=INTEGER},
      graduation_datetime = #{graduationDatetime,jdbcType=TIMESTAMP},
      graduation_job = #{graduationJob,jdbcType=VARCHAR},
      graduation_place = #{graduationPlace,jdbcType=VARCHAR},
      graduation_salary = #{graduationSalary,jdbcType=DECIMAL},
      graduation_jobtime = #{graduationJobtime,jdbcType=TIMESTAMP},
      graduation_status = #{graduationStatus,jdbcType=VARCHAR}
    where graduation_id = #{graduationId,jdbcType=INTEGER}
  </update>
  <select id="findTopSixGra" resultType="map">
  SELECT graduation_user graUser,graduation_job graJob, user_name userName,
  graduation_place graPlace,graduation_salary graSalary 
  FROM graduation JOIN user on graduation_user = user_id where graduation_status='2' LIMIT 0, 6
  </select>
<!--查询毕业生就业信息 -->
  <select id="findGraOfPage" resultType="map">
	  SELECT graduation_user graUser,graduation_job graJob, user_name userName,
	  graduation_place graPlace,graduation_salary graSalary ,graduation_jobtime graJobtime,graduation_datetime graDatetime
	  FROM graduation JOIN user on graduation_user = user_id 
	  where graduation_status='2'
  </select>
	<!--查询毕业生就业信息的总个数 -->
  <select id="findGraCount" resultType="map">
	  SELECT count(*)
	  FROM graduation JOIN user on graduation_user = user_id 
	  where graduation_status='2'
  </select>
  
</mapper>