<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eroly.mapper.InfoTypeMapper" >
  <resultMap id="BaseResultMap" type="com.eroly.domain.InfoType" >
    <id column="info_type_id" property="infoTypeId" jdbcType="INTEGER" />
    <result column="info_type_name" property="infoTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    info_type_id, info_type_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from info_type
    where info_type_id = #{infoTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from info_type
    where info_type_id = #{infoTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eroly.domain.InfoType" >
    insert into info_type (info_type_id, info_type_name)
    values (#{infoTypeId,jdbcType=INTEGER}, #{infoTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eroly.domain.InfoType" >
    insert into info_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="infoTypeId != null" >
        info_type_id,
      </if>
      <if test="infoTypeName != null" >
        info_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="infoTypeId != null" >
        #{infoTypeId,jdbcType=INTEGER},
      </if>
      <if test="infoTypeName != null" >
        #{infoTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eroly.domain.InfoType" >
    update info_type
    <set >
      <if test="infoTypeName != null" >
        info_type_name = #{infoTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where info_type_id = #{infoTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eroly.domain.InfoType" >
    update info_type
    set info_type_name = #{infoTypeName,jdbcType=VARCHAR}
    where info_type_id = #{infoTypeId,jdbcType=INTEGER}
  </update>
</mapper>