<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eroly.mapper.PriceMapper" >
  <resultMap id="BaseResultMap" type="com.eroly.domain.Price" >
    <id column="price_id" property="priceId" jdbcType="INTEGER" />
    <result column="price_total" property="priceTotal" jdbcType="DOUBLE" />
    <result column="price_discount" property="priceDiscount" jdbcType="DOUBLE" />
    <result column="price_deposit" property="priceDeposit" jdbcType="DOUBLE" />
    <result column="price_diedline" property="priceDiedline" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    price_id, price_total, price_discount, price_deposit, price_diedline
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from price
    where price_id = #{priceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from price
    where price_id = #{priceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eroly.domain.Price" >
    insert into price (price_id, price_total, price_discount, 
      price_deposit, price_diedline)
    values (#{priceId,jdbcType=INTEGER}, #{priceTotal,jdbcType=DOUBLE}, #{priceDiscount,jdbcType=DOUBLE}, 
      #{priceDeposit,jdbcType=DOUBLE}, #{priceDiedline,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.eroly.domain.Price" >
    insert into price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="priceId != null" >
        price_id,
      </if>
      <if test="priceTotal != null" >
        price_total,
      </if>
      <if test="priceDiscount != null" >
        price_discount,
      </if>
      <if test="priceDeposit != null" >
        price_deposit,
      </if>
      <if test="priceDiedline != null" >
        price_diedline,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="priceId != null" >
        #{priceId,jdbcType=INTEGER},
      </if>
      <if test="priceTotal != null" >
        #{priceTotal,jdbcType=DOUBLE},
      </if>
      <if test="priceDiscount != null" >
        #{priceDiscount,jdbcType=DOUBLE},
      </if>
      <if test="priceDeposit != null" >
        #{priceDeposit,jdbcType=DOUBLE},
      </if>
      <if test="priceDiedline != null" >
        #{priceDiedline,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eroly.domain.Price" >
    update price
    <set >
      <if test="priceTotal != null" >
        price_total = #{priceTotal,jdbcType=DOUBLE},
      </if>
      <if test="priceDiscount != null" >
        price_discount = #{priceDiscount,jdbcType=DOUBLE},
      </if>
      <if test="priceDeposit != null" >
        price_deposit = #{priceDeposit,jdbcType=DOUBLE},
      </if>
      <if test="priceDiedline != null" >
        price_diedline = #{priceDiedline,jdbcType=TIMESTAMP},
      </if>
    </set>
    where price_id = #{priceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eroly.domain.Price" >
    update price
    set price_total = #{priceTotal,jdbcType=DOUBLE},
      price_discount = #{priceDiscount,jdbcType=DOUBLE},
      price_deposit = #{priceDeposit,jdbcType=DOUBLE},
      price_diedline = #{priceDiedline,jdbcType=TIMESTAMP}
    where price_id = #{priceId,jdbcType=INTEGER}
  </update>
</mapper>