<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eroly.mapper.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.eroly.domain.Teacher" >
    <id column="teacher_id" property="teacherId" jdbcType="INTEGER" />
    <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
    <result column="teacher_sex" property="teacherSex" jdbcType="VARCHAR" />
    <result column="teacher_phone" property="teacherPhone" jdbcType="VARCHAR" />
    <result column="teacher_email" property="teacherEmail" jdbcType="VARCHAR" />
    <result column="teacher_info" property="teacherInfo" jdbcType="VARCHAR" />
    <result column="teacher_img" property="teacherImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    teacher_id, teacher_name, teacher_sex, teacher_phone, teacher_email, teacher_info, 
    teacher_img
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teacher
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eroly.domain.Teacher" >
    insert into teacher (teacher_id, teacher_name, teacher_sex, 
      teacher_phone, teacher_email, teacher_info, 
      teacher_img)
    values (#{teacherId,jdbcType=INTEGER}, #{teacherName,jdbcType=VARCHAR}, #{teacherSex,jdbcType=VARCHAR}, 
      #{teacherPhone,jdbcType=VARCHAR}, #{teacherEmail,jdbcType=VARCHAR}, #{teacherInfo,jdbcType=VARCHAR}, 
      #{teacherImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eroly.domain.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="teacherName != null" >
        teacher_name,
      </if>
      <if test="teacherSex != null" >
        teacher_sex,
      </if>
      <if test="teacherPhone != null" >
        teacher_phone,
      </if>
      <if test="teacherEmail != null" >
        teacher_email,
      </if>
      <if test="teacherInfo != null" >
        teacher_info,
      </if>
      <if test="teacherImg != null" >
        teacher_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherSex != null" >
        #{teacherSex,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhone != null" >
        #{teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="teacherEmail != null" >
        #{teacherEmail,jdbcType=VARCHAR},
      </if>
      <if test="teacherInfo != null" >
        #{teacherInfo,jdbcType=VARCHAR},
      </if>
      <if test="teacherImg != null" >
        #{teacherImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eroly.domain.Teacher" >
    update teacher
    <set >
      <if test="teacherName != null" >
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherSex != null" >
        teacher_sex = #{teacherSex,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhone != null" >
        teacher_phone = #{teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="teacherEmail != null" >
        teacher_email = #{teacherEmail,jdbcType=VARCHAR},
      </if>
      <if test="teacherInfo != null" >
        teacher_info = #{teacherInfo,jdbcType=VARCHAR},
      </if>
      <if test="teacherImg != null" >
        teacher_img = #{teacherImg,jdbcType=VARCHAR},
      </if>
    </set>
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eroly.domain.Teacher" >
    update teacher
    set teacher_name = #{teacherName,jdbcType=VARCHAR},
      teacher_sex = #{teacherSex,jdbcType=VARCHAR},
      teacher_phone = #{teacherPhone,jdbcType=VARCHAR},
      teacher_email = #{teacherEmail,jdbcType=VARCHAR},
      teacher_info = #{teacherInfo,jdbcType=VARCHAR},
      teacher_img = #{teacherImg,jdbcType=VARCHAR}
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>
  <select id="findAll" resultType="map">
  	SELECT
	T.TEACHER_ID teacherId,T.TEACHER_NAME teacherName,
	T.TEACHER_SEX teacherSex,T.TEACHER_PHONE teacherPhone,
	t.teacher_email teacherEmail,T.TEACHER_INFO teacherInfo,T.TEACHER_IMG teacherImg
	FROM
	TEACHER T
  </select>
</mapper>